
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(https://www.welovesolo.com/wp-content/uploads/2014/12/p17145n97srkuovk13fsek5o6p9-details.jpg);*/
    background-color: rgb(70, 70,70);
}


.form-container {
    width: 320px
}

.controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.controllers a {
    text-decoration: none;
    color: aqua;
}

