/*Header*/
header {
    background: #c00a27;
    background: -moz-linear-gradient(left, #c00a27 0%, #e50d0d 50%, #c00a27 100%);
    background: -webkit-linear-gradient(left, #c00a27 0%,#e50d0d 50%,#c00a27 100%);
    background: linear-gradient(to right, #c00a27 0%,#e50d0d 50%,#c00a27 100%);
}

hr{
    width: 90%;
}

.header-wrap .logo-block{
    width: calc(20% - 40px);
    display: inline-block;
    vertical-align: middle;
}

.header-wrap .right-block{
    margin: 20px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    width: calc(80% - 40px);
}

.list-categories span {
    font-family: Verdana;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

#logo-image, #footer-image {
    border: none;
    margin: 20px;
    width: 200px;
    height: 110px;
}
.categories-images {
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
}

#categories-field {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.list-categories {
    float: left;
    margin: 5px;
}

.list-categories a {
    display: block;
    color: white;
    text-align: right;
    padding: 5px 10px;
    text-decoration: none;
}

.list-categories a:hover {
    color: rgb(50 50 50);
}


#basket, #log-in{
    padding: .66em .9em;
    background-color: #90071e;
    border-radius: 50px;
    color: white;
    display: inline-block;
    align-items: center;
    text-align: initial;
    width: 145px;
    font-size: 20px;
    margin-left: auto;
    text-decoration: none;
    margin-right: 10px;
}

#basket img, #log-in img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/*Container*/

#pagination {
    margin: 10px;
    text-align: right;
}

#page {
    width: 30px;
}
#container {
    display: inline-block;
    width: 100%;
}
#container img {
    border-radius: 50%;
    border: 6px solid #c00a27;
    width: 300px;
    height: 300px;
}

.container-items {
    display: inline-block;
    width: 29%;
    padding: 1%;
    vertical-align: top;
    text-align: center;
}
.container-items:nth-child(3n+1){
    clear: both;
}

#order-list {
    margin: 0;
    padding: 0;
    text-align: left;
}

body {
    margin: 0;
    background-image: url(https://www.welovesolo.com/wp-content/uploads/2014/12/p17145n97srkuovk13fsek5o6p9-details.jpg);
    color: #cccaca;
}


#text {
    font-family: verdna;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}


/*Footer*/
.footer-v1.site-footer {
    background: #c00a27;
    background: -moz-linear-gradient(left, #c00a27 0%, #e50d0d 50%, #c00a27 100%);
    background: -webkit-linear-gradient(left, #c00a27 0%,#e50d0d 50%,#c00a27 100%);
    background: linear-gradient(to right, #c00a27 0%,#e50d0d 50%,#c00a27 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00a27', endColorstr='#c00a27',GradientType=1 );
}
.footer-v1.site-footer {
    position: relative;
    background-color: #c00927;
    text-align: center;
}
.site-footer {
    background-color: #f3f3f3;
    color: #999999;
}

.address li{
    float: left;
    margin: 5px;
    padding: 5px 58px;
}

